html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: #333;
    color: #fff;
}

#gameCanvas {
    display: block;
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
}

